<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/admin ::main-admin(~{:: #content}, ~{:: #info-page})}">
    <head>
        <title>Trang chủ</title>
        <style>
            td {
                margin: 5px;
                padding: 10px;
            }
        </style>
    </head>
    <body>

        <th:block id="info-page">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Thông tin sách</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/}">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">Thông tin sách
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block id="content">
            <section id="language">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin sách</h4>
                                <a class="heading-elements-toggle"><i
                                        class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <a class="card-body card-dashboard">
                                    <p class="card-text text-center">Tại đây bạn có thể quản lý thông tin sách một cách
                                        dễ
                                        dàng nhất và thuận tiện nhất</p>
                                    <section id="dialogs" >
                                        <div class="col-12">
                                            <div class="form-group text-center">
                                                <button class="btn btn-lg btn-success font-medium-1 grid-form-dialog-btn mt-1">Thêm sách</button>
                                                <p class="font-small-3 mt-1"></p>
                                                <div class="grid-form-dialog" title="Thêm sách" style="padding-top: 100px">
                                                    <div class="container">
                                                        <form th:object="${newSach}" th:action="@{/admin/themSach}" method="post"enctype="multipart/form-data">
                                                            <div class="form-group row">
                                                                <label for="1" class="col-sm-2 col-form-label">Tên tác giả</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{tacGia.tenTacGia}" type="text" class="form-control" id="1" placeholder="Tên tác giả">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="2" class="col-sm-2 col-form-label">Tên loại sách</label>
                                                                <div class="col-sm-10">
                                                                    <select class="form-control" id="2">
                                                                        <option th:selected="${newSach.loaiSach} == '1'">Khác</option>
                                                                        <option th:selected="${newSach.loaiSach} == '2'" >Văn học Việt Nam</option>
                                                                        <option th:selected="${newSach.loaiSach} == '3'" >Văn học Nhật Bản</option>
                                                                        <option th:selected="${newSach.loaiSach} == '4'" >Truyện tranh Hàn Quốc</option>
                                                                        <option th:selected="${newSach.loaiSach} == '5'" >Truyện tranh Việt Nam</option>
                                                                        <option th:selected="${newSach.loaiSach} == '6'" >Truyện tranh Nhật Bản</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="3" class="col-sm-2 col-form-label">Tên sách</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" th:field="*{tenSach}" class="form-control" id="3" placeholder="Tên sách">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="4" class="col-sm-2 col-form-label">Xuất bản</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{xuatBan}" type="date" class="form-control" id="4" placeholder="Xuất bản">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="5" class="col-sm-2 col-form-label">Nhà xuất bản</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{nhaXuatBan}" type="text" class="form-control" id="5" placeholder="Nhà xuất bản">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="6" class="col-sm-2 col-form-label">Nhà phát hành</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{nhaPhatHanh}" type="text" class="form-control" id="6" placeholder="Nhà phát hành">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="8" class="col-sm-2 col-form-label">Dạng bìa</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="8" th:field="*{dangBia}" placeholder="Dạng bìa">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="9" class="col-sm-2 col-form-label">Kích thước</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{kichThuoc}" type="text" class="form-control" id="9" placeholder="Kích thước">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="10" class="col-sm-2 col-form-label">Khối lượng</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{khoiLuong}" type="text" class="form-control" id="10" placeholder="Khối lượng">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="11" class="col-sm-2 col-form-label">Số trang</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{soTrang}" type="number" class="form-control" id="11" placeholder="Số trang">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="12" class="col-sm-2 col-form-label">Giá</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" class="form-control" id="12" th:field="*{gia}" placeholder="Giá">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="13" class="col-sm-2 col-form-label">Giới thiệu</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{gioiThieu}" type="text" class="form-control" id="13" placeholder="Giới thiệu">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="14" class="col-sm-2 col-form-label">Ảnh</label>
                                                                <div class="col-sm-10">
                                                                    <input th:field="*{anhTemp}" type="file" class="form-control" id="14" placeholder="Ảnh">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="offset-sm-2 col-sm-10">
                                                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <table class="table table-striped table-bordered language-file">
                                        <thead>
                                            <tr>
                                                <th>Ảnh</th>
                                                <th>Tên tác giả</th>
                                                <th>Tên loại sách</th>
                                                <th>Tên sách</th>
                                                <th>Xuất bản</th>
                                                <th>Dạng bìa</th>
                                                <th>Khối lượng</th>
                                                <th>Số trang</th>
                                                <th>Giá</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="item : ${items}">
                                                <tr>
                                                    <td><img style="width: 80px" alt="product image"
                                                             th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                                    </td>
                                                    <td th:text="${item.tacGia.tenTacGia}"></td>
                                                    <td th:text="${item.loaiSach}"></td>
                                                    <td th:text="${item.tenSach}"></td>
                                                    <td th:text="${#dates.format(item.xuatBan, 'dd-MM-yyyy')}"></td>
                                                    <td th:text="${item.dangBia}"></td>
                                                    <td th:text="${item.khoiLuong}"></td>
                                                    <td th:text="${item.soTrang}"></td>
                                                    <td>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0,
                                                        'POINT')}]] VND
                                                    </td>
                                                    <td>
                                                        <!-- Button trigger modal -->
                                                        <a th:attr="data-target='#book'+${item.id}" data-toggle="modal">
                                                            <i class="la la-pencil"></i>
                                                        </a>

                                                        <!-- Modal -->
                                                        <div class="modal fade" th:attr="id='book'+${item.id}" tabindex="-1" role="dialog" aria-labelledby="bookLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" th:attr="id='bookModelLaber'+${item.id}">Sửa thông tin</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <form th:action="@{/admin/changeSach}" method="post">
                                                                    <div class="modal-body">
                                                                        <input type="hidden" th:name="id" th:value="${item.id}">
                                                                        <div class="form-group">
                                                                            <label for="exampleSelect1">Tên sách</label>
                                                                            <input th:value="${item.tenSach}" th:name="tenSach" type="text" class="form-control" id="exampleSelect1" placeholder="Tên sách">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="date">Xuất bản</label>
                                                                            <input th:value="${item.xuatBan}" th:name="xuatBan" type="date" class="form-control" id="date" placeholder="Xuất bản">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="nhaxuatban">Nhà xuất bản</label>
                                                                            <input type="text" th:value="${item.nhaXuatBan}" th:name="nhaXuatBan" class="form-control" id="nhaxuatban" placeholder="Nhà xuất bản">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="nhaphathanh">Nhà phát hành</label>
                                                                            <input type="text" th:value="${item.nhaPhatHanh}" th:name="nhaPhatHanh" class="form-control" id="nhaphathanh" placeholder="Nhà phát hành">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="dangbia">Dạng bìa</label>
                                                                            <input type="text" th:value="${item.dangBia}" th:name="dangBia" class="form-control" id="dangbia" placeholder="dạng bìa">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="kichthuoc">Kích thước</label>
                                                                            <input type="text" th:value="${item.kichThuoc}" th:name="kichThuoc" class="form-control" id="kichthuoc" placeholder="Kích thước">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="khoiluong">Khối lượng</label>
                                                                            <input type="text" th:value="${item.khoiLuong}" th:name="khoiLuong" class="form-control" id="khoiluong" placeholder="Khối lượng">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="sotrang">Số trang</label>
                                                                            <input type="number"  th:value="${item.soTrang}" th:name="soTrang" class="form-control" id="sotrang" placeholder="Số trang">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="gia">Giá</label>
                                                                            <input type="number" th:value="${item.gia}" th:name="gia" class="form-control" id="gia" placeholder="Giá">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="gioithieu">Giới thiệu</label>
                                                                            <textarea th:value="${item.gioiThieu}" th:name="gioiThieu" class="form-control" cols="3" id="gioithieu" placeholder="Giới thiệu"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                                    </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Button trigger modal -->
                                                        <a th:attr="data-target='#trash'+${item.id}" data-toggle="modal">
                                                            <i class="la la-trash"></i>
                                                        </a>

                                                        <!-- Modal -->
                                                        <div class="modal fade" th:attr="id='trash'+${item.id}" tabindex="-1" role="dialog" aria-labelledby="bookLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" th:attr="id='trashModalLabel'+${item.id}">Xóa</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h5 style="color: red">Bạn có chắc muốn xóa [[${item.tenSach}]]</h5>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a th:href="@{/admin/xoaSach/{id}(id=${item.id})}" class="btn btn-danger">Xóa</a>
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Ảnh</th>
                                                <th>Tên tác giả</th>
                                                <th>Tên loại sách</th>
                                                <th>Tên sách</th>
                                                <th>Xuất bản</th>
                                                <th>Dạng bìa</th>
                                                <th>Khối lượng</th>
                                                <th>Số trang</th>
                                                <th>Giá</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </th:block>
    </body>
</html>


