<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/admin ::main-admin(~{:: #content}, ~{:: #info-page})}">
    <head>
        <title>Trang chủ</title>
    </head>
    <body>

        <th:block id="info-page">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Thông tin đơn hàng</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/}">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">Thông tin đơn hàng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block id="content">
            <section id="file-export">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin đơn hàng</h4>
                                <a class="heading-elements-toggle"><i
                                        class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <a class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered file-export">
                                        <thead>
                                            <tr>
                                                <th>Tên sách</th>
                                                <th>Trạng thái</th>
                                                <th>Ngày đặt</th>
                                                <th>Ngày giao</th>
                                                <th>Nơi giao</th>
                                                <th>Số điện thoại</th>
                                                <th>Email</th>
                                                <th>Hoạt động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="item : ${items}">
                                                <th:block th:each="sach : ${item.getListCTDonHang()}">
                                                    <tr>
                                                        <td th:text="${sach.sach.tenSach}"></td>
                                                        <th:block th:if="${item.trangThai == 1}">
                                                            <td>Đã giao</td>
                                                        </th:block>
                                                        <th:block th:if="${item.trangThai == 2}">
                                                            <td>Đang xử lý</td>
                                                        </th:block>
                                                        <th:block th:if="${item.trangThai == 0}">
                                                            <td>Đã hủy</td>
                                                        </th:block>
                                                        <td th:text="${#dates.format(item.ngayDatHang, 'dd-MMM-yyyy')}"></td>
                                                        <td th:text="${#dates.format(item.ngayGiaoHang, 'dd-MMM-yyyy')}"></td>
                                                        <td th:text="${item.noiGiaoHang}"></td>
                                                        <td th:text="${item.soDienThoai}"></td>
                                                        <td th:text="${item.email}"></td>
                                                        <td>
                                                            <a class="fonticon-wrap" th:href="@{/admin/reDon/{id}(id=${item.id})}">
                                                                <i class="ft-check"></i>
                                                            </a>
                                                            <a class="fonticon-wrap" th:href="@{/admin/unDon/{id}(id=${item.id})}">
                                                                <i class="la la-reply"></i>
                                                            </a>
                                                            <a class="fonticon-wrap" th:href="@{/admin/delDon/{id}(id=${item.id})}">
                                                                <i class="ft-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </th:block>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tên sách</th>
                                                <th>Trạng thái</th>
                                                <th>Ngày đặt</th>
                                                <th>Ngày giao</th>
                                                <th>Nơi giao</th>
                                                <th>Số điện thoại</th>
                                                <th>Email</th>
                                                <th>Hoạt động</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </th:block>
    </body>
</html>


