<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/admin ::main-admin(~{:: #content}, ~{:: #info-page})}">
    <head>
        <title>Trang chủ</title>
    </head>
    <body>

        <th:block id="info-page">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Bảng điều khiển</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/}">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">Bảng điều khiển
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block id="content">
            <!-- eCommerce statistic -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="info" th:text="${soLuong}"></h3>
                                        <h6>Số lượng bán trong tuần</h6>
                                    </div>
                                    <div>
                                        <i class="icon-basket-loaded info font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 80%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="warning">[[${#numbers.formatDecimal(tongTienBan, 0, 'COMMA', 0,
                                            'POINT')}]] VND</h3>
                                        <h6>Tổng tiền bán ra trong tuần</h6>
                                    </div>
                                    <div>
                                        <i class="icon-pie-chart warning font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-warning" role="progressbar"
                                         style="width: 65%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="success" th:text="${user}"></h3>
                                        <h6>Tổng người dùng trong hệ thống</h6>
                                    </div>
                                    <div>
                                        <i class="icon-user-follow success font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-success" role="progressbar"
                                         style="width: 75%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="danger" th:text="${xuLy}"></h3>
                                        <h6>Đơn hàng cần xử lý</h6>
                                    </div>
                                    <div>
                                        <i class="icon-heart danger font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 85%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ eCommerce statistic -->
            <!-- Products sell and New Orders -->
            <div class="row match-height">
                <div class="col-xl-8 col-12" id="ecommerceChartView">
                    <div class="card card-shadow">
                        <div class="card-header card-header-transparent py-20">
                            <div class="btn-group dropdown">
                                <div class="text-body blue-grey-700">Thống kê lượng bán</div>
                            </div>
                            <ul class="nav nav-pills nav-pills-rounded chart-action float-right btn-group" role="group">
                                <li class="nav-item"><a class="active nav-link" data-toggle="tab"
                                                        href="#scoreLineToDay">Ngày</a></li>
                            </ul>
                        </div>
                        <div class="widget-content tab-content bg-white p-20">
                            <div class="ct-chart tab-pane active scoreLineShadow" id="scoreLineToDay"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Mới đặt hàng</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div id="new-orders" class="media-list position-relative">
                                <div class="table-responsive">
                                    <table id="new-orders-table" class="table table-hover table-xl mb-0">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Sản phẩm</th>
                                                <th class="border-top-0">Trạng thái</th>
                                                <th class="border-top-0">Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="item : ${items}">
                                                <th:block th:each="don : ${item.listCTDonHang}">
                                                    <tr>
                                                        <th:block th:if="${don.sach.tenSach.length() > 14}">
                                                            <td class="text-truncate" th:text="${don.sach.tenSach.substring(0,13) + '...'}"></td>
                                                        </th:block>
                                                        <th:block th:unless="${don.sach.tenSach.length() > 14}">
                                                            <td class="text-truncate" th:text="${don.sach.tenSach}"></td>
                                                        </th:block>
                                                        <th:block th:if="${item.trangThai == 1}">
                                                            <td class="text-truncate">Đã giao</td>
                                                        </th:block>
                                                        <th:block th:if="${item.trangThai == 2}">
                                                            <td class="text-truncate">Đang xử lý</td>
                                                        </th:block>
                                                        <th:block th:if="${item.trangThai == 0}">
                                                            <td class="text-truncate">Đã hủy</td>
                                                        </th:block>
                                                        <td class="text-truncate" th:text="${don.giaBan*don.soLuong}"></td>
                                                    </tr>
                                                </th:block>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Products sell and New Orders -->

        </th:block>
        <div style="display: none" id="data"></div>
    </body>
</html>
