<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:insert="~{layouts/admin ::main-admin(~{:: #content}, ~{:: #info-page})}">
    <head>
        <title>Trang chủ</title>
    </head>
    <body>

        <th:block id="info-page">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Thông tin người dùng</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/}">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">Thông tin người dùng
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block id="content">
            <section id="language">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin người dùng</h4>
                                <a class="heading-elements-toggle"><i
                                        class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <a class="card-body card-dashboard">
                                    <p class="card-text text-center">Tại đây bạn có thể quản lý thông tin người dùng một cách dễ
                                        dàng nhất</p>
                                    <table class="table table-striped table-bordered language-file">
                                        <thead>
                                            <tr>
                                                <th>Tên tài khoản</th>
                                                <th>Họ tên</th>
                                                <th>Ngày sinh</th>
                                                <th>Giới tính</th>
                                                <th>Địa chỉ</th>
                                                <th>Số điện thoại</th>
                                                <th>Trạng thái</th>
                                                <th>Hoạt động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="item : ${items}">
                                                <tr>
                                                    <td th:text="${item.username}"></td>
                                                    <td th:text="${item.hoTen}"></td>
                                                    <td th:text="${#dates.format(item.ngaySinh, 'dd-MM-yyyy')}"></td>
                                                    <th:block th:if="${item.gioiTinh == 1}">
                                                        <td>Nam</td>
                                                    </th:block>
                                                    <th:block th:if="${item.gioiTinh == 0}">
                                                        <td>Nữ</td>
                                                    </th:block>
                                                    <td th:text="${item.diaChi}"></td>
                                                    <td th:text="${item.soDienThoai}"></td>
                                                    <th:block th:if="${item.enable == 1}">
                                                        <td>Hoạt động</td>
                                                    </th:block>
                                                    <th:block th:if="${item.enable == 0}">
                                                        <td>Không hoạt động</td>
                                                    </th:block>
                                                    <td>
                                                        <th:block th:if="${item.enable == 1}">
                                                            <a class="fonticon-wrap" th:href="@{/admin/lock/{id}(id=${item.id})}">
                                                                <i class="la la-unlock"></i>
                                                                Khóa
                                                            </a>
                                                        </th:block>
                                                        <th:block th:if="${item.enable == 0}">
                                                            <a class="fonticon-wrap" th:href="@{/admin/unlock/{id}(id=${item.id})}">
                                                                <i class="la la-unlock-alt"></i>
                                                                Mở khóa
                                                            </a>
                                                        </th:block>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tên tài khoản</th>
                                                <th>Họ tên</th>
                                                <th>Ngày sinh</th>
                                                <th>Giới tính</th>
                                                <th>Địa chỉ</th>
                                                <th>Số điện thoại</th>
                                                <th>Trạng thái</th>
                                                <th>Hoạt động</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </th:block>
    </body>
</html>


