<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-admin(other, info)" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Trang admin</title>
        <link rel="apple-touch-icon" th:href="@{/static/admin/app-assets/images/ico/apple-icon-120.png}">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
              rel="stylesheet">
        <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
              rel="stylesheet">
        <!-- BEGIN VENDOR CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/css/vendors.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/vendors/css/ui/jquery-ui.min.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/admin/app-assets/vendors/css/weather-icons/climacons.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/fonts/meteocons/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/vendors/css/charts/morris.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/vendors/css/charts/chartist.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/vendors/css/tables/datatable/datatables.min.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/admin/app-assets/vendors/css/charts/chartist-plugin-tooltip.css}">
        <!-- END VENDOR CSS-->
        <!-- BEGIN MODERN CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/css/app.css}">
        <!-- END MODERN CSS-->
        <!-- BEGIN Page Level CSS-->
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/admin/app-assets/css/core/menu/menu-types/vertical-content-menu.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/admin/app-assets/css/core/colors/palette-gradient.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/fonts/simple-line-icons/style.css}">
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/admin/app-assets/css/core/colors/palette-gradient.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/css/pages/timeline.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/app-assets/css/pages/dashboard-ecommerce.css}">
        <!-- END Page Level CSS-->
        <!-- BEGIN Custom CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/admin/assets/css/style.css}">
        <!-- END Custom CSS-->
    </head>
    <body class="vertical-layout vertical-content-menu 2-columns menu-expanded fixed-navbar" data-open="click"
          data-menu="vertical-content-menu" data-col="2-columns">
        <!-- fixed-top-->
        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mobile-menu d-md-none mr-auto"><a
                                class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="ft-menu font-large-1"></i></a></li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="index.html">
                                <img class="brand-logo" alt="modern admin logo"
                                     th:src="@{/static/images/logo/logo.png}">
                                <h3 class="brand-text">Quản lý website</h3>
                            </a>
                        </li>
                        <li class="nav-item d-md-none">
                            <a class="nav-link open-navbar-container" data-toggle="collapse"
                               data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <li class="nav-item d-none d-md-block"><a
                                    class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                    class="ft-menu"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                <span class="mr-1">Xin chào,
                  <span class="user-name text-bold-700" sec:authentication="name"></span>
                </span>
                                    <span class="avatar avatar-online">
                  <img th:src="@{/static/admin/app-assets/images/portrait/small/avatar-s-19.png}"
                       alt="avatar"><i></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" th:href="@{/logout}"><i class="ft-power"></i>Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Content -->
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-header row">
                    <th:block th:replace="${info} ?: ~{}"></th:block>
                </div>
                <div class="main-menu menu-static menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
                    <div class="main-menu-content">
                        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                            <li class="nav-item">
                                <a th:href="@{/admin/}">
                                    <i class="la la-home"></i>
                                    <span class="menu-title" data-i18n="nav.dash.main">Dashboard</span>
                                </a>
                            </li>
                            <li class=" nav-item">
                                <a th:href="@{/admin/user}">
                                    <i class="la la-user"></i>
                                    <span class="menu-title" data-i18n="nav.users.main">Quản lý người dùng</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/book}" >
                                    <i class="la la-book"></i>
                                    <span class="menu-title">Quản lý sản phẩm</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/donHang}" >
                                    <i class="la la-shopping-cart"></i>
                                    <span class="menu-title">Quản lý đơn hàng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-body">
                    <th:block th:replace="${other} ?: ~{}"></th:block>
                </div>
            </div>
        </div>

        <footer class="footer footer-static footer-light navbar-border">
            <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
                <span class="float-md-left d-block d-md-inline-block">Copyright © 2018, All rights reserved. </span>
                <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted &amp; Made with <i
                        class="ft-heart pink"></i></span>
            </p>
        </footer>

        <script th:src="@{/static/admin/app-assets/vendors/js/vendors.min.js}" type="text/javascript"></script>
        <!-- BEGIN VENDOR JS-->
        <!-- BEGIN PAGE VENDOR JS-->
        <script th:src="@{/static/admin/app-assets/vendors/js/ui/headroom.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/charts/chartist.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js}"
                type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/charts/raphael-min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/charts/morris.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/timeline/horizontal-timeline.js}"
                type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/datatable/datatables.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js}"
                type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/buttons.flash.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/jszip.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/pdfmake.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/vfs_fonts.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/buttons.html5.min.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/vendors/js/tables/buttons.print.min.js}" type="text/javascript"></script>
        <!-- END PAGE VENDOR JS-->
        <!-- BEGIN MODERN JS-->
        <script th:src="@{/static/admin/app-assets/js/core/app-menu.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/js/core/app.js}" type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/js/scripts/customizer.js}" type="text/javascript"></script>
        <!-- END MODERN JS-->
        <!-- BEGIN PAGE LEVEL JS-->
        <script th:src="@{/static/admin/app-assets/js/scripts/pages/dashboard-ecommerce.js}"
                type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/js/scripts/tables/datatables/datatable-advanced.js}"
                type="text/javascript"></script>
        <script th:src="@{/static/admin/app-assets/js/scripts/ui/jquery-ui/dialog-tooltip.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL JS-->
    </body>
</html>
