<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicons -->
        <link th:href="@{/static/images/favicon.ico}" rel="shortcut icon">
        <link th:href="@{/static/images/icon.png}" rel="apple-touch-icon">

        <!-- Stylesheets -->
        <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/static/css/plugins.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/static/style.css}">

        <!-- Cusom css -->
        <link th:href="@{/static/css/custom.css}" rel="stylesheet">

        <!-- Modernizer js -->
        <script th:href="@{/static/js/vendor/modernizr-3.5.0.min.js}"></script>
    </head>
    <body>

        //Header
        <header class="header__area header__absolute sticky__header" id="wn__header" th:fragment="userHeader">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a th:href="@{/}">
                                <img alt="logo images" th:src="@{/static/images/logo/logo.png}">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="drop">
                                    <a href="#">Danh mục</a>
                                    <div class="megamenu mega02">
                                        <ul class="item item01">
                                            <li class="title"></li>
                                            <li>
                                                <a th:href="@{/loai-sach/6}">Truyện tranh Nhật Bản</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/loai-sach/5}">Truyện tranh Việt Nam</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/loai-sach/4}">Truyện tranh Hàn Quốc </a>
                                            </li>
                                        </ul>
                                        <ul class="item item01">
                                            <li class="title"></li>
                                            <li>
                                                <a th:href="@{/loai-sach/3}">Văn học Nhật Bản</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/loai-sach/2}">Văn học Việt Nam</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/loai-sach/1}">Khác</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="drop with--one--item">
                                    <a th:href="@{/yeu-thich}">Yêu thích</a>
                                </li>
                                <li class="drop with--one--item">
                                    <a th:href="@{/lien-he}">Liên hệ</a>
                                </li>
                                <li class="drop with--one--item">
                                    <a th:href="@{/gioi-thieu}">Giới thiệu</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <li class="shop_search">
                                <a class="search__active" href="#"></a>
                            </li>
                            <li class="wishlist">
                                <a th:href="@{/yeu-thich}"></a>
                            </li>
                            <li class="shopcart">
                                <a th:href="@{/gio-hang}"></a>
                            </li>
                            <li class="setting__bar__icon">
                                <a class="setting__active" href="#"></a>
                                <div class="searchbar__content setting__block">
                                    <div class="content-inner">
                                        <div class="switcher-currency">
                                            <strong class="label switcher-label">
                                                <span>Tài khoản</span>
                                            </strong>
                                            <div class="switcher-options">
                                                <div class="switcher-currency-trigger">
                                                    <div class="setting__menu">
                                                        <th:block sec:authorize="isFullyAuthenticated()">
                                                        <span>
                                                            <a th:href="@{/thong-tin}">Tài khoản</a>
                                                        </span>
                                                            <span>
                                                            <a th:href="@{/xem-hang}">Đơn đặt hàng</a>
                                                        </span>
                                                            <span>
                                                                <a th:href="@{/logout}">Đăng xuất</a>
                                                            </span>
                                                        </th:block>
                                                        <th:block sec:authorize="!isFullyAuthenticated()">

                                                            <span>
                                                            <a th:href="@{/login}">Đăng nhập</a>
                                                        </span>
                                                            <span>
                                                            <a th:href="@{/dang-ki}">Đăng kí</a>
                                                        </span>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <div class="row d-none">
                    <div class="col-lg-12 d-none">
                        <nav class="mobilemenu__nav">
                            <ul class="meninmenu">
                                <li>
                                    <a th:href="@{/}">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">Thể loại</a>
                                    <ul>
                                        <li>
                                            <a href="#">Sách</a>
                                        </li>
                                        <li>
                                            <a href="#">Truyện</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a th:href="@{/yeu-thich}">Yêu thích</a>
                                </li>
                                <li>
                                    <a th:href="@{/lien-he}">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
            <!-- Start Search Popup -->
            <div class="brown--color box-search-content search_active block-bg close__top">
                <form th:action="@{/tim-kiem}" class="minisearch" id="search_mini_form">
                    <div class="field__search">
                        <input placeholder="Nhập nội dung tìm kiếm tại đây" type="text" name="ten">
                        <div class="action">
                            <input type="submit" value="Tìm">
                        </div>
                    </div>
                </form>
                <div class="close__wrap">
                    <span>Đóng</span>
                </div>
            </div>
            <!-- End Search Popup -->
        </header>


        //Footer
        <footer class="footer__area bg__cat--8 brown--color" id="wn__footer" th:fragment="userFooter">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a th:href="@{/}">
                                        <img alt="logo" th:src="@{/static/images/logo/3.png}">
                                    </a>
                                    <p>Cảm ơn các bạn đã ghé thăm website, chúng tôi đang cố gắng cải thiện sản phẩm
                                        một cách hoàn hảo nhất để gia tăng trải nghiệm của các bạn.
                                    </p>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li>
                                            <a href="#">Xu hướng</a>
                                        </li>
                                        <li>
                                            <a href="#">Mua nhiều</a>
                                        </li>
                                        <li>
                                            <a href="#">Sản phẩm</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/cau-hoi}">Câu hỏi</a>
                                        </li>
                                        <li>
                                            <a href="#">Yêu thích</a>
                                        </li>
                                        <li>
                                            <a th:href="@{/lien-he}">Liên hệ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright
                                        <i class="fa fa-copyright"></i>
                                        Project 2. All Rights Reserved
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="payment text-right">
                                <img alt="" th:src="@{/static/images/icons/payment.png}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        //Script
        <script th:src="@{/static/js/vendor/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/static/js/popper.min.js}"></script>
        <script th:src="@{/static/js/bootstrap.min.js}"></script>
        <script th:src="@{/static/js/plugins.js}"></script>
        <script th:src="@{/static/js/active.js}"></script>

    </body>
</html>
