<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Lỗi 404</title>
    </head>
    <body>

        <div th:insert="~{layouts/main :: userHeader}"></div>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Trang không tồn tại</h2>
                            <nav class="bradcaump-content" >
                                <a class="breadcrumb_item" th:href="@{/}">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">404</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->

        <!-- Start Error Area -->
        <section class="page_error section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="error__inner text-center">
                            <div class="error__logo">
                                <a href="#"><img alt="error images" style="max-width: 400px" th:src="@{/static/images/others/404.png}"></a>
                            </div>
                            <div class="error__content">
                                <h2>Không tìm thấy trang yêu cầu</h2>
                                <p>Rất tiếc vì yêu cầu của bạn! <a th:href="@{/}" style="color: blue">Nhấn vào đây</a>
                                    để về trang chủ </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Error Area -->

        <div th:insert="~{layouts/main :: userFooter}"></div>

        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>