<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Thông tin sách</title>
    </head>
    <body>
        <div th:insert="~{layouts/main :: userHeader}"></div>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Thông tin sách</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" th:href="@{/}">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">Thông tin sách</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Shop Page -->
        <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 order-1 order-lg-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                                    <div class="shop__list nav justify-content-center" role="tablist">
                                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid"
                                           role="tab"><i class="fa fa-th"></i></a>
                                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i
                                                class="fa fa-list"></i></a>
                                    </div>
                                    <p>Hiển thị 1–[[${size}]] của [[${size}]] kết quả</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab__container">
                            <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                                <div class="row">
                                    <!-- Start Single Product -->
                                    <th:block th:each="item : ${items}">
                                        <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="product__thumb">
                                                <a class="first__img" th:href="@{/sach/{id}(id=${item.id})}">
                                                    <img alt="product image"
                                                         th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                                </a>
                                                <a class="second__img animation1"
                                                   th:href="@{/sach/{id}(id=${item.id})}">
                                                    <img alt="product image"
                                                         th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                                </a>
                                                <div class="hot__box">
                                                    <span class="hot-label">Mới</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a th:href="@{/sach/{id}(id=${item.id})}"
                                                       th:utext="${item.tenSach}"></a>
                                                </h4>
                                                <ul class="prize d-flex">
                                                    <li>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]]
                                                        VND
                                                    </li>
                                                    <li class="old_prize">[[${#numbers.formatDecimal(item.gia, 0,
                                                        'COMMA', 0,
                                                        'POINT')}]] VND
                                                    </li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li>
                                                                <a class="cart" th:href="@{/them/{id}(id=${item.id})}">
                                                                    <i class="bi bi-shopping-bag4"></i>
                                                                </a>
                                                            </li>
                                                            <li><a class="compare"
                                                                   th:href="@{/them-yeu-thich/{id}(id=${item.id})}">
                                                                <i class="bi bi-heart-beat"></i></a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/sach/{id}(id=${item.id})}" title="Xem">
                                                                    <i class="bi bi-search"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <th:block th:each="i : ${#numbers.sequence(1, item.rate)}">
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                        </th:block>
                                                        <th:block th:each="i : ${#numbers.sequence(1, 5 - item.rate)}">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </th:block>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    <!-- End Single Product -->
                                </div>
                                <ul class="wn__pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                </ul>
                            </div>
                            <div class="shop-grid tab-pane fade" id="nav-list" role="tabpanel">
                                <div class="list__view__wrapper">
                                    <th:block th:each="item : ${items}">
                                        <!-- Start Single Product -->
                                        <div class="list__view mt--40">
                                            <div class="thumb">
                                                <a class="first__img" th:href="@{/sach/{id}(id=${item.id})}">
                                                    <img alt="product image"
                                                         th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                                </a>
                                                <a class="second__img" th:href="@{/sach/{id}(id=${item.id})}">
                                                    <img alt="product image"
                                                         th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h2>
                                                    <a th:href="@{/sach/{id}(id=${item.id})}"
                                                       th:utext="${item.tenSach}"></a>
                                                </h2>
                                                <ul class="rating d-flex">
                                                    <th:block th:each="i : ${#numbers.sequence(1, item.rate)}">
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                    </th:block>
                                                    <th:block th:each="i : ${#numbers.sequence(1, 5 - item.rate)}">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </th:block>
                                                </ul>
                                                <ul class="prize__box">
                                                    <li>[[${#numbers.formatDecimal(item.gia, 0,
                                                        'COMMA', 0,
                                                        'POINT')}]] VND</li>
                                                    <li class="old__prize">[[${#numbers.formatDecimal(item.gia, 0,
                                                        'COMMA', 0,
                                                        'POINT')}]] VND</li>
                                                </ul>
                                                <p th:text="${item.gioiThieu}"></p>
                                                <ul class="cart__action d-flex">
                                                    <li class="cart"><a th:href="@{/them/{id}(id=${item.id})}">Thêm vào
                                                        giỏ</a></li>
                                                    <li class="wishlist"><a
                                                            th:href="@{/them-yeu-thich/{id}(id=${item.id})}"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Single Product -->
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Shop Page -->

        <div th:insert="~{layouts/main :: userFooter}"></div>
        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>
