<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Giỏ hàng</title>
    </head>
    <body>
        <div th:insert="~{layouts/main :: userHeader}"></div>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Giỏ hàng của tôi</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" th:href="@{/}">Trang chủ</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">Giỏ hàng của tôi</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <th:block th:unless="${cart}">
            <h1 class="text-center" style="color: red">Giỏ hàng trống</h1>
        </th:block>
        <th:block th:if="${cart}">
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">
                            <div class="table-content wnro__table table-responsive">
                                    <table>
                                        <thead>
                                            <tr class="title-top">
                                                <th class="product-thumbnail">Ảnh</th>
                                                <th class="product-name">Tên sản phẩm</th>
                                                <th class="product-price">Giá</th>
                                                <th class="product-quantity">Số lượng</th>
                                                <th class="product-subtotal">Tổng</th>
                                                <th class="product-remove">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="item : ${cart}">
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a th:href="@{/sach/{id}(id=${item.sach.id})}">
                                                            <img th:src="@{/static/images/product/{img}(img=${item.sach.anh})}"
                                                                 alt="product img"></a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a th:href="@{/sach/{id}(id=${item.sach.id})}"
                                                           th:utext="${item.sach.tenSach}"></a>
                                                    </td>
                                                    <td class="product-price">
                                                        <span class="amount">[[${#numbers.formatDecimal(item.sach.gia, 0, 'COMMA', 0, 'POINT')}]] VND</span>
                                                    </td>
                                                    <td class="product-quantity" th:utext="${item.soLuong}">
                                                    </td>
                                                    <td class="product-subtotal">
                                                        [[${#numbers.formatDecimal(item.sach.gia*item.soLuong, 0,
                                                        'COMMA', 0, 'POINT')}]] VND
                                                    </td>
                                                    <td class="product-remove">
                                                        <a th:href="@{/xoa/{id}(id=${item.sach.id})}">X</a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                            </div>
                        </form>
                        <div class="cartbox__btn">
                            <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li><a th:href="@{/user/thanh-toan}">Thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="cartbox__total__area">
                            <div class="cartbox-total d-flex justify-content-between">
                                <ul class="cart__total__list">
                                    <li>Tổng sản phẩm</li>
                                </ul>
                                <ul class="cart__total__tk">
                                    <li>[[${tongSach}]]</li>
                                </ul>
                            </div>
                            <div class="cart__total__amount">
                                <span>Tổng tiền</span>
                                <span>[[${#numbers.formatDecimal(tinhTien, 0, 'COMMA', 0, 'POINT')}]] VND</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </th:block>
        <!-- cart-main-area end -->

        <div th:insert="~{layouts/main :: userFooter}"></div>
        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>
