<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Đăng nhập</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" th:href="@{/static/login/images/icons/favicon.ico}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/vendor/bootstrap/css/bootstrap.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/vendor/animate/animate.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/vendor/css-hamburgers/hamburgers.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/vendor/animsition/css/animsition.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/vendor/select2/select2.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/vendor/daterangepicker/daterangepicker.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/css/util.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/login/css/main.css}">
        <!--===============================================================================================-->
    </head>
    <body style="background-color: #666666;">

        <div sec:authentication="name" style="display: none" id="get-name"></div>

        <script>
            var name = document.getElementById('get-name').innerHTML;
            console.log(name);
            if (name != 'anonymousUser'){
                window.location.href = '/forward-user';
            }
        </script>

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" method="post" th:action="@{/login-process}">

                        <span class="login100-form-title p-b-43">
                            Login to continue
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Username không hợp lệ">
                            <input class="input100" type="text" name="username">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Username</span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Phải nhập password">
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Password</span>
                        </div>

                        <div class="flex-sb-m w-full p-t-3 p-b-32 text-center" style="color: #ff0000; display: block"
                             th:if="${message}" th:text="${message}">
                        </div>

                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Ghi nhớ
                                </label>
                            </div>

                            <div>
                                <a th:href="@{#}" class="txt1">
                                    Quên mật khẩu?
                                </a>
                            </div>
                        </div>


                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>

                        <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
                        </div>

                        <div class="login100-form-social flex-c-m">
                            <a th:href="@{#}" class="login100-form-social-item flex-c-m bg1 m-r-5">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                            </a>

                            <a th:href="@{#}" class="login100-form-social-item flex-c-m bg2 m-r-5">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </form>

                    <div class="login100-more" style="background-image: url('/static/login/images/bg-01.jpg');">
                    </div>
                </div>
            </div>
        </div>


        <!--===============================================================================================-->
        <script th:src="@{/static/login/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <!--===============================================================================================-->
        <script th:src="@{/static/login/vendor/animsition/js/animsition.min.js}"></script>
        <!--===============================================================================================-->
        <script th:src="@{/static/login/vendor/bootstrap/js/popper.js}"></script>
        <script th:src="@{/static/login/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <!--===============================================================================================-->
        <script th:src="@{/static/login/vendor/select2/select2.min.js}"></script>
        <!--===============================================================================================-->
        <script th:src="@{/static/login/vendor/daterangepicker/moment.min.js}"></script>
        <script th:src="@{/static/login/vendor/daterangepicker/daterangepicker.js}"></script>
        <!--===============================================================================================-->
        <script th:src="@{/static/login/vendor/countdowntime/countdowntime.js}"></script>

        <script th:src="@{/static/login/js/main.js}"></script>
    </body>
</html>
