<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Thông tin sách</title>
    </head>
    <body>
        <div th:insert="~{layouts/main :: userHeader}"></div>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Thông tin chi tiết</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" th:href="@{/}">Trang chủ</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active" th:utext="${book.tenSach}"></span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start main Content -->
        <div class="maincontent bg--white pt--80 pb--55">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wn__single__product">
                            <div class="row">
                                <div class="col-lg-3 col-12">
                                    <img th:src="@{/static/images/product/{images}(images=${book.anh})}" alt="">
                                </div>
                                <div class="col-lg-9 col-12">
                                    <div class="product__info__main">
                                        <h1 th:utext="${book.tenSach}"></h1>
                                        <div class="product-reviews-summary d-flex">
                                            <ul class="rating-summary d-flex">
                                                <th:block th:each="i : ${#numbers.sequence(1, book.rate)}">
                                                    <li><i class="zmdi zmdi-star"></i></li>
                                                </th:block>
                                                <th:block th:each="i : ${#numbers.sequence(1, 5 - book.rate)}">
                                                    <li><i class="zmdi zmdi-star-outline"></i></li>
                                                </th:block>
                                            </ul>
                                        </div>
                                        <div class="price-box">
                                            <span>[[${#numbers.formatDecimal(book.gia, 0, 'COMMA', 0, 'POINT')}]] VND</span>
                                        </div>
                                        <div class="product__overview">
                                            <p>Sản phẩm được cam kết chính hãng</p>
                                            <p>Phục vụ uy tín, tận tâm, chuyên nghiệp</p>
                                            <p>Thanh toán khi nhận sách trên toàn quốc</p>
                                            <p>Đầu sách phong phú, cập nhật nhanh</p>
                                        </div>
                                        <div class="box-tocart d-flex">
                                            <span>Số lượng</span>
                                            <input id="qty" class="input-text qty" name="qty" min="1" value="1"
                                                   title="Số lượng" type="number" disabled>
                                            <div class="addtocart__actions">
                                                <a th:href="@{/them/{id}(id=${book.id})}">
                                                    <button class="tocart" title="Thêm vào giỏ">Thêm vào giỏ</button>
                                                </a>
                                            </div>
                                            <div class="product-addto-links clearfix">
                                                <a class="wishlist" th:href="@{/them-yeu-thich/{id}(id=${book.id})}"></a>
                                            </div>
                                        </div>
                                        <div class="product-share">
                                            <ul>
                                                <li class="categories-title">Share :</li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-social-twitter icons"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-social-tumblr icons"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-social-facebook icons"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon-social-linkedin icons"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__info__detailed">
                            <div class="pro_details_nav nav justify-content-start" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Chi
                                    tiết</a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Đánh
                                    giá</a>
                            </div>
                            <div class="tab__container">
                                <!-- Start Single Tab Content -->
                                <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                                    <div class="description__attribute">
                                        <p th:utext="${book.gioiThieu}"></p>
                                    </div>
                                </div>
                                <!-- End Single Tab Content -->
                                <!-- Start Single Tab Content -->
                                <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
                                    <div class="review__attribute">
                                        <h1>Đánh giá người đọc</h1>
                                        <h3>Chức năng đang phát triển</h3>
                                    </div>
                                </div>
                                <!-- End Single Tab Content -->
                            </div>
                        </div>
                        <div class="wn__related__product pt--80 pb--50">
                            <div class="section__title text-center">
                                <h2 class="title__be--2">Sản phẩm cùng tách giả</h2>
                            </div>
                            <div class="row mt--60">
                                <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
                                    <!-- Start Single Product -->
                                    <th:block th:each="item : ${tacGia}">
                                        <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="product__thumb">
                                                <a class="first__img" th:href="@{/book/{id}(id=${item.id})}">
                                                    <img th:src="@{/static/images/product/{img}(img=${item.anh})}"
                                                         alt="product image"></a>
                                                <a class="second__img animation1"
                                                   th:href="@{/book/{id}(id=${item.id})}">
                                                    <img th:src="@{/static/images/product/{img}(img=${item.anh})}"
                                                         alt="product image"></a>
                                                <div class="hot__box">
                                                    <span class="hot-label">BEST SALLER</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a th:href="@{/book/{id}(id=${item.id})}"
                                                       th:utext="${item.tenSach}"></a></h4>
                                                <ul class="prize d-flex">
                                                    <li>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]]
                                                        VND
                                                    </li>
                                                    <li class="old_prize">[[${#numbers.formatDecimal(item.gia, 0,
                                                        'COMMA', 0, 'POINT')}]] VND
                                                    </li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li>
                                                                <a class="cart" th:href="@{/them/{id}(id=${item.id})}">
                                                                    <i class="bi bi-shopping-bag4"></i>
                                                                </a>
                                                            </li>
                                                            <li><a class="compare"
                                                                   th:href="@{/them-yeu-thich/{id}(id=${item.id})}">
                                                                <i class="bi bi-heart-beat"></i></a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/sach/{id}(id=${item.id})}" title="Xem">
                                                                    <i class="bi bi-search"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <th:block th:each="i : ${#numbers.sequence(1, item.rate)}">
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                        </th:block>
                                                        <th:block th:each="i : ${#numbers.sequence(1, 5 - item.rate)}">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </th:block>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    <!-- Start Single Product -->
                                </div>
                            </div>
                        </div>
                        <div class="wn__related__product">
                            <div class="section__title text-center">
                                <h2 class="title__be--2">Sản phẩm cùng thể loại</h2>
                            </div>
                            <div class="row mt--60">
                                <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
                                    <th:block th:each="item : ${loaiSach}">
                                        <!-- Start Single Product -->
                                        <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="product__thumb">
                                                <a class="first__img" th:href="@{/book/{id}(id=${item.id})}">
                                                    <img th:src="@{/static/images/product/{img}(img=${item.anh})}" alt="product image"></a>
                                                <a class="second__img animation1" th:href="@{/book/{id}(id=${item.id})}">
                                                    <img th:src="@{/static/images/product/{img}(img=${item.anh})}" alt="product image">
                                                </a>
                                                <div class="hot__box">
                                                    <span class="hot-label">BEST SALLER</span>
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a th:href="@{/book/{id}(id=${item.id})}" th:utext="${item.tenSach}"></a></h4>
                                                <ul class="prize d-flex">
                                                    <li>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]] VND</li>
                                                    <li class="old_prize">[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]] VND</li>
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li>
                                                                <a class="cart" th:href="@{/them/{id}(id=${item.id})}">
                                                                    <i class="bi bi-shopping-bag4"></i>
                                                                </a>
                                                            </li>
                                                            <li><a class="compare"
                                                                   th:href="@{/them-yeu-thich/{id}(id=${item.id})}">
                                                                <i class="bi bi-heart-beat"></i></a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/sach/{id}(id=${item.id})}" title="Xem">
                                                                    <i class="bi bi-search"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        <th:block th:each="i : ${#numbers.sequence(1, item.rate)}">
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                        </th:block>
                                                        <th:block th:each="i : ${#numbers.sequence(1, 5 - item.rate)}">
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </th:block>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Product -->
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End main Content -->
        <div th:insert="~{layouts/main :: userFooter}"></div>
        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>
