<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Yêu thích</title>
    </head>
    <body>
        <div th:insert="~{layouts/main :: userHeader}"></div>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Yêu thích</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" th:href="@{/}">Trang chủ</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">Yêu thích</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="wishlist-area section-padding--lg bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wishlist-content">
                            <th:block th:if="${error}">
                                <h2 class="text-center" style="color: red" th:text="${error}"></h2>
                            </th:block>
                            <th:block th:if="${wishlist}">
                                <form action="#">
                                    <div class="wishlist-table wnro__table table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-remove"></th>
                                                    <th class="product-thumbnail"></th>
                                                    <th class="product-name"><span class="nobr">Tên sản phẩm</span></th>
                                                    <th class="product-price"><span class="nobr">Giá bán</span></th>
                                                    <th class="product-add-to-cart"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th:block th:each="item : ${wishlist}">
                                                    <tr>
                                                        <td class="product-remove"><a th:href="@{/xoa-yeu-thich/{id}(id=${item.id})}">×</a></td>
                                                        <td class="product-thumbnail">
                                                            <a href="#"><img th:src="@{/static/images/product/{img}(img=${item.anh})}" alt=""></a>
                                                        </td>
                                                        <td class="product-name">
                                                            <a th:href="@{/sach/{id}(id=${item.id})}"
                                                                                    th:utext="${item.tenSach}"></a>
                                                        </td>
                                                        <td class="product-price">
                                                            <span class="amount">[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]] VND</span>
                                                        </td>
                                                        <td class="product-add-to-cart">
                                                            <a th:href="@{/them/{id}(id=${item.id})}">Thêm vào giỏ</a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->

        <div th:insert="~{layouts/main :: userFooter}"></div>
        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>
