<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Thanh toán</title>
    </head>
    <body>
        <div th:insert="~{layouts/main :: userHeader}"></div>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Thanh toán</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" th:href="@{/}">Trang chủ</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">Thanh toán</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Checkout Area -->
        <section class="wn__checkout__area section-padding--lg bg__white">
            <form th:action="@{/user/dat-hang}" th:object="${donHang}" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="customer_details">
                                <h3>Thông tin người mua</h3>
                                <div class="customar__field">
                                    <div class="margin_between">
                                        <div class="input_box space_between">
                                            <label>Họ <span>*</span></label>
                                            <input type="text" th:field="*{ho}">
                                        </div>
                                        <div class="input_box space_between">
                                            <label>Tên <span>*</span></label>
                                            <input type="text" th:field="*{ten}">
                                        </div>
                                    </div>
                                    <div class="input_box">
                                        <label>Địa chỉ <span>*</span></label>
                                        <input type="text" th:field="*{noiGiaoHang}">
                                    </div>
                                    <div class="margin_between">
                                        <div class="input_box space_between">
                                            <label>Số điện thoại <span>*</span></label>
                                            <input type="text" th:field="*{soDienThoai}">
                                        </div>

                                        <div class="input_box space_between">
                                            <label>Email <span>*</span></label>
                                            <input type="email" th:field="*{email}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
                            <div class="wn__order__box">
                                <h3 class="onder__title">Thông tin đặt hàng</h3>
                                <ul class="order__total">
                                    <li>Sản phẩm</li>
                                    <li>Số tiền</li>
                                </ul>
                                <ul class="order_product">
                                    <th:block th:each="item : ${cart}">
                                        <li>[[${item.sach.tenSach}]] × [[${item.soLuong}]]<span>[[${#numbers.formatDecimal(item.sach.gia*item.soLuong, 0, 'COMMA', 0, 'POINT')}]] VND</span>
                                        </li>
                                    </th:block>
                                </ul>
                                <ul class="total__amount">
                                    <li>Tổng tiền <span>[[${#numbers.formatDecimal(tinhTien, 0, 'COMMA', 0, 'POINT')}]] VND</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-success">Mua hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <div th:insert="~{layouts/main :: userFooter}"></div>
        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>