<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layouts/main :: head}"></th:block>
        <title>Trang chủ</title>
    </head>
    <body>
        <div class="wrapper" id="wrapper">
            <div th:insert="~{layouts/main :: userHeader}"></div>

            <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme"
                 style="width: 100%; height: 100%; display: block;">

                <!-- Start Single Slide -->
                <div class="slide animation__style10 bg-image--3 fullscreen align__center--left">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider__content">
                                    <div class="contentbox">
                                        <h2>Mua <span>sách </span></h2>
                                        <h2>mọi <span>lúc </span></h2>
                                        <h2>mọi <span>nơi </span></h2>
                                        <a class="shopbtn" href="#">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>

            <section class="wn__product__area brown--color pt--80  pb--30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__title text-center">
                                <h2 class="title__be--2">Sản phẩm <span class="color--theme">mới</span></h2>
                                <p>Tại đây bạn có thể xem sản phẩm mới cập nhật tại shop
                                    và chọn mua sản phẩm bạn thích</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start Single Tab Content -->
                    <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                        <!-- Start Single Product -->
                        <div class="product product__style--3">
                            <th:block th:each="item : ${newBook}">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product__thumb">
                                        <a class="first__img" th:href="@{/sach/{id}(id=${item.id})}">
                                            <img alt="product image"
                                                 th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                        </a>
                                        <a class="second__img animation1" th:href="@{/sach/{id}(id=${item.id})}">
                                            <img alt="product image"
                                                 th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                        </a>
                                        <div class="hot__box">
                                            <span class="hot-label">Mới</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a th:href="@{/sach/{id}(id=${item.id})}" th:utext="${item.tenSach}"></a>
                                        </h4>
                                        <ul class="prize d-flex">
                                            <li>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]] VND</li>
                                            <li class="old_prize">[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0,
                                                'POINT')}]] VND
                                            </li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li>
                                                        <a class="cart" th:href="@{/them/{id}(id=${item.id})}">
                                                            <i class="bi bi-shopping-bag4"></i>
                                                        </a>
                                                    </li>
                                                    <li><a class="compare"
                                                           th:href="@{/them-yeu-thich/{id}(id=${item.id})}">
                                                        <i class="bi bi-heart-beat"></i></a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/sach/{id}(id=${item.id})}" title="Xem">
                                                            <i class="bi bi-search"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <th:block th:each="i : ${#numbers.sequence(1, item.rate)}">
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                </th:block>
                                                <th:block th:each="i : ${#numbers.sequence(1, 5 - item.rate)}">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- End Single Tab Content -->
                </div>
            </section>
            <!-- Start BEst Seller Area -->
            <!-- Start NEwsletter Area -->
            <section class="wn__newsletter__area bg-image--2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
                            <div class="section__title text-center">
                                <h2>Đăng kí nhận email </h2>
                            </div>
                            <div class="newsletter__block text-center">
                                <p>Đăng kí để nhận các thông tin khuyến mãi và cập nhật thông tin
                                    sản phẩm mới nhất của chúng tôi </p>
                                <form action="#">
                                    <div class="newsletter__box">
                                        <input placeholder="Nhập địa chỉ email tại đây" type="email">
                                        <button>Đăng kí</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End NEwsletter Area -->
            <section class="wn__product__area brown--color pt--80  pb--30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__title text-center">
                                <h2 class="title__be--2">Sản phẩm <span class="color--theme">bán chạy</span></h2>
                                <p>Bạn băn khoăn không biết mua gì ? Sao bạn không tìm hiểu các sản phẩm
                                    được nhiều người mua nhất? Có thể bạn sẽ thích đấy!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start Single Tab Content -->
                    <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                        <!-- Start Single Product -->
                        <div class="product product__style--3">
                            <th:block th:each="item : ${buyest}">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product__thumb">
                                        <a class="first__img" th:href="@{/sach/{id}(id=${item.id})}">
                                            <img alt="product image"
                                                 th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                        </a>
                                        <a class="second__img animation1" th:href="@{/sach/{id}(id=${item.id})}">
                                            <img alt="product image"
                                                 th:src="@{/static/images/product/{anh}(anh=${item.anh})}">
                                        </a>
                                        <div class="hot__box">
                                            <span class="hot-label">Bán chạy</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a th:href="@{/sach/{id}(id=${item.id})}" th:utext="${item.tenSach}"></a>
                                        </h4>
                                        <ul class="prize d-flex">
                                            <li>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]] VND</li>
                                            <li class="old_prize">[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0,
                                                'POINT')}]] VND
                                            </li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li>
                                                        <a class="cart" th:href="@{/them/{id}(id=${item.id})}">
                                                            <i class="bi bi-shopping-bag4"></i>
                                                        </a>
                                                    </li>
                                                    <li><a class="compare"
                                                           th:href="@{/them-yeu-thich/{id}(id=${item.id})}">
                                                        <i class="bi bi-heart-beat"></i></a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/sach/{id}(id=${item.id})}" title="Xem">
                                                            <i class="bi bi-search"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <th:block th:each="i : ${#numbers.sequence(1, item.rate)}">
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                </th:block>
                                                <th:block th:each="i : ${#numbers.sequence(1, 5 - item.rate)}">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- End Single Tab Content -->
                </div>
            </section>
            <!-- Start BEst Seller Area -->
            <!-- Start Recent Post Area -->
            <section class="wn__recent__post bg--gray ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__title text-center">
                                <h2 class="title__be--2">Trải nghiệm <span class="color--theme">với Bookstore</span>
                                </h2>
                                <p>Với tiêu chí khách hàng là thượng đế, chúng tôi đã khảo sát đánh giá sự hài lòng
                                    của khách hàng với trang web, dưới đây là một số đánh giá</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt--50">
                        <div class="col-md-6 col-lg-4 col-sm-12">
                            <div class="post__itam">
                                <div class="content">
                                    <h3>Tốc độ truy cập trang web nhanh</h3>
                                    <p>Website bảo đảm thời gian vận hành thường xuyên, hạn chế tôi đa thời gian
                                        ngắt quãng, trang web đẹp, hình ảnh bắt mắt</p>
                                    <div class="post__time">
                                        <span class="day">Ngày 03 Tháng 05 Năm 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-12">
                            <div class="post__itam">
                                <div class="content">
                                    <h3>Thời gian giao hành nhanh, sản phẩm chất lượng</h3>
                                    <p>Thời gian giao hàng sản phẩm rất nhanh, vừa đặt xong mà 2 hôm sau có liền,
                                        mà mình ở Hồ Chí Minh còn shop ở Hà Nội</p>
                                    <div class="post__time">
                                        <span class="day">Ngày 21 Tháng 04 Năm 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-12">
                            <div class="post__itam">
                                <div class="content">
                                    <h3>Phục vụ khách hàng nhiệt tình</h3>
                                    <p>Mình không thấy ở đâu phục vụ tận tâm chu đáo như ở BookStore,
                                        vừa hỏi mà đã rep luôn, mà phục vụ rất tận tâm chu đáo</p>
                                    <div class="post__time">
                                        <span class="day">Ngày 21 Tháng 05 Năm 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <!--            <div id="quickview-wrapper">-->
            <!--                &lt;!&ndash; Modal &ndash;&gt;-->
            <!--                <div class="modal fade" id="productmodal" role="dialog" tabindex="-1">-->
            <!--                    <div class="modal-dialog modal__container" role="document">-->
            <!--                        <div class="modal-content">-->
            <!--                            <div class="modal-header modal__header">-->
            <!--                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span-->
            <!--                                        aria-hidden="true">×</span></button>-->
            <!--                            </div>-->
            <!--                            <div class="modal-body">-->
            <!--                                <div class="modal-product">-->
            <!--                                    &lt;!&ndash; Start product images &ndash;&gt;-->
            <!--                                    <div class="product-images">-->
            <!--                                        <div class="main-image images">-->
            <!--                                            <img alt="big images" th:src="@{/images/product/big-img/1.jpg}">-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                    &lt;!&ndash; end product images &ndash;&gt;-->
            <!--                                    <div class="product-info">-->
            <!--                                        <h1>Simple Fabric Bags</h1>-->
            <!--                                        <div class="rating__and__review">-->
            <!--                                            <ul class="rating">-->
            <!--                                                <li><span class="ti-star"></span></li>-->
            <!--                                                <li><span class="ti-star"></span></li>-->
            <!--                                                <li><span class="ti-star"></span></li>-->
            <!--                                                <li><span class="ti-star"></span></li>-->
            <!--                                                <li><span class="ti-star"></span></li>-->
            <!--                                            </ul>-->
            <!--                                            <div class="review">-->
            <!--                                                <a href="#">4 customer reviews</a>-->
            <!--                                            </div>-->
            <!--                                        </div>-->
            <!--                                        <div class="price-box-3">-->
            <!--                                            <div class="s-price-box">-->
            <!--                                                <span class="new-price">$17.20</span>-->
            <!--                                                <span class="old-price">$45.00</span>-->
            <!--                                            </div>-->
            <!--                                        </div>-->
            <!--                                        <div class="quick-desc">-->
            <!--                                            Designed for simplicity and made from high quality materials. Its sleek-->
            <!--                                            geometry and-->
            <!--                                            material combinations creates a modern look.-->
            <!--                                        </div>-->
            <!--                                        <div class="select__color">-->
            <!--                                            <h2>Select color</h2>-->
            <!--                                            <ul class="color__list">-->
            <!--                                                <li class="red"><a href="#" title="Red">Red</a></li>-->
            <!--                                                <li class="gold"><a href="#" title="Gold">Gold</a></li>-->
            <!--                                                <li class="orange"><a href="#" title="Orange">Orange</a></li>-->
            <!--                                                <li class="orange"><a href="#" title="Orange">Orange</a></li>-->
            <!--                                            </ul>-->
            <!--                                        </div>-->
            <!--                                        <div class="select__size">-->
            <!--                                            <h2>Select size</h2>-->
            <!--                                            <ul class="color__list">-->
            <!--                                                <li class="l__size"><a href="#" title="L">L</a></li>-->
            <!--                                                <li class="m__size"><a href="#" title="M">M</a></li>-->
            <!--                                                <li class="s__size"><a href="#" title="S">S</a></li>-->
            <!--                                                <li class="xl__size"><a href="#" title="XL">XL</a></li>-->
            <!--                                                <li class="xxl__size"><a href="#" title="XXL">XXL</a></li>-->
            <!--                                            </ul>-->
            <!--                                        </div>-->
            <!--                                        <div class="social-sharing">-->
            <!--                                            <div class="widget widget_socialsharing_widget">-->
            <!--                                                <h3 class="widget-title-modal">Share this product</h3>-->
            <!--                                                <ul class="social__net social__net&#45;&#45;2 d-flex justify-content-start">-->
            <!--                                                    <li class="facebook"><a class="rss social-icon" href="#"><i-->
            <!--                                                            class="zmdi zmdi-rss"></i></a></li>-->
            <!--                                                    <li class="linkedin"><a class="linkedin social-icon" href="#"><i-->
            <!--                                                            class="zmdi zmdi-linkedin"></i></a></li>-->
            <!--                                                    <li class="pinterest"><a class="pinterest social-icon" href="#"><i-->
            <!--                                                            class="zmdi zmdi-pinterest"></i></a></li>-->
            <!--                                                    <li class="tumblr"><a class="tumblr social-icon" href="#"><i-->
            <!--                                                            class="zmdi zmdi-tumblr"></i></a></li>-->
            <!--                                                </ul>-->
            <!--                                            </div>-->
            <!--                                        </div>-->
            <!--                                        <div class="addtocart-btn">-->
            <!--                                            <a href="#">Add to cart</a>-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; END QUICKVIEW PRODUCT &ndash;&gt;-->

            <div th:insert="~{layouts/main :: userFooter}"></div>
        </div>

        <th:block th:insert="~{layouts/main :: body/script}"></th:block>
    </body>
</html>
